* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  

/* .swiper-wrapper {
  transform: translate(0) !important;
} */

body {
  padding: 0;
  margin: 0;
}

button {
  transition: all .1s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.swiper-slide-shadow.swiper-slide-shadow-cards {
  background: none !important;
}

html {
  scroll-behavior: smooth;
}